{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block titulo %}Sistema CAC{% endblock %} · Sistema CAC</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% block extra_css %}{% endblock %}
</head>
<body>
  {% block content %}{% endblock %}
  {% if request.resolver_match.url_name == 'privacidade' %}
      <a href="{% if user.is_authenticated %}/{% else %}{% url 'login' %}{% endif %}" class="link-privacidade-flutuante">
          Voltar para o Início
      </a>
  {% else %}
      <a href="{% url 'privacidade' %}" class="link-privacidade-flutuante">
          Privacidade e proteção de dados
      </a>
  {% endif %}
  {% block extra_js %}{% endblock %}
</body>
</html>
